<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br />
      <table class=" table table-striped">
        <thead>
        <td><strong>Name</strong></td>
        <td><strong>Email</strong></td>
        <td><strong>Formal</strong></td>
        <td><strong>Gender</strong></td>
        </thead>

        <% @clients.each do |client| %>
            <tr>
              <td><%= client.full_name %></td>
              <td><%= client.email %></td>
              <td><%= client.is_formal ? 'Yes' : 'No' %></td>
              <td><%= client.is_male ? 'Male' : 'Female' %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
