<% if @client.is_formal %>

    <% if @client.is_male %>

        <p>Dear <%= @client.last_name %></p>

        <p>I've been just thinking about you so I thought I will send you an email to check what you're up to</p>

        <p>Regards, Lukasz</p>
    <% else %>
        <p>Dear Mrs <%= @client.last_name %></p>
    <% end %>
<% else %>
    <% if @client.is_male %>

        <p>Hey <%= @client.first_name %></p>

        <p>I've been just thinking about you so I thought I will send you an email to check what you're up to</p>

        <p>Regards, Lukasz</p>
    <% else %>
        <p>Hey <%= @client.first_name %></p>
    <% end %>

<% end %>